* {
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 10px;
    margin: 0 0;
    font-family: 'Mogula', sans-serif;
    font-size: 30px;
    background: #F8F0E5;
    color: #102C57;
}

.title {
    transition: all .2s ease-in-out;
}

.title:hover {
    transform: scale(1.1);
}

hr {
    color: #102C57;
    margin: 0;
}

body {
    background: #EADBC8;
    margin: 0;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
    background-color: #EADBC8;
}

.project {
    background-color: #102C57;
    width: 100%;
    max-width: 350px;
    padding: 10px 15px;
    margin: 50px 30px;
    height: auto;
    text-align: center;
    border-radius: 10%;
    font-family: 'Gajkley', sans-serif;
    color: #F8F0E5;
}

.project:hover {
    background-color: #2f425f;
}

.project img {
    width: 100%;
    max-width: 350px;
    max-height: 150px;
    text-align: center;
    object-fit: scale-down;
    border-radius: 10px;
}

.imagen {
    background-color: #F8F0E5;
    border-radius: 20px;
}

.links {
    padding: 40px 0;
    text-align: center;
}

.links img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 auto;
    padding: 0px 4px;
    overflow: visible;
}

@font-face {
    font-family: 'Mogula';
    src: url('fonts/mogula.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gajkley';
    src: url('fonts/Gajkley.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}