* {
    box-sizing: border-box;
}

/* Title: Alba Aparicio */
.title {
    transition: all .2s ease-in-out;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    font-family: "Varino", "sans-serif";
    color: rgb(180, 180, 180);
}

.title:hover {
    transform: scale(1.1);
}

.subtitle {
    text-align: center;
    color: #9b9b9b;
    padding: 0 20px;
}

/* Main structure */
.column {
    float: left;
    padding: 10px;
}

.left {
    width: 10%;
    background-image: url("img/galaxia.jpeg");
    box-shadow: -8px 0 10px 5px #000000;
    height: 850px;
    padding: 0;
}

.right {
    width: 10%;
    float: right;
    background-image: url("img/planeta.jpg");
    box-shadow: 8px 0 10px 5px #000000;
    height: 850px;
    padding: 0;
}

.middle {
    width: 80%;
    box-shadow: 0 0 30px 3px #000000;
    border-radius: 15px;
    position: relative;
    font-family: "Comforta", "sans-serif";
    overflow: visible;
}

body {
    background: linear-gradient(0deg, #303030, #0c0c0c);
    margin: 0;
    color: #9b9b9b;
}

/* Navbar */
.options-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
}

.option {
    background-color: rgb(51, 51, 51);
    margin-top: 60px;
    margin-bottom: 30px;
    width: 10rem;
    height: 5rem;
    display: inline-grid;
    text-align: center;
    align-items: center;
    color: rgb(180, 180, 180);
    cursor: pointer;
}

.option:hover {
    background-color: rgb(70, 70, 70);
}

.btideas {
    border-radius: 0px;
}

.btcv {
    border-radius: 0 30px 30px 0;
}

.btproyectos {
    border-radius: 30px 0 0 30px;
}


.content {
    padding: 20px;
}

/* Projects */

.content-proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.project {
    background-color: rgb(78, 78, 78);
    width: 100%;
    max-width: 350px;
    padding: 10px 10px;
    margin: 30px 20px;
    height: auto;
    text-align: center;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
}

.project:hover {
    background-color: rgb(87, 87, 87);
}

.project:active {
    background-color: rgb(51, 51, 51);
}

.project img {
    width: 100%;
    max-width: 350px;
    max-height: 150px;
    text-align: center;
    object-fit: scale-down;
    border-radius: 10px;
}

/* Ideas */
.idea {
    margin-bottom: 60px;
}

hr {
    height: 1px;
    border: none;
    background: #9b9b9b;
}

.tag {
    font-size: small;
    background-color: rgb(87, 87, 87);
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    margin: 5px;
}

.tag:hover {
    background-color: rgb(51, 51, 51);
}

/* CV */
.cv {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.cv-item {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: left;
}

/* Social media links */
.links {
    padding: 40px 0;
    text-align: center;
}

.links img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 auto;
    padding: 0px 4px;
    overflow: visible;
}

.social {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    border-radius: 100%;
    padding: 2%;
    object-fit: contain;
}

.social:hover {
    background: radial-gradient(rgb(62, 62, 62) 10%, transparent 80%);

}

/* Back button */

.back {
    font-size: large;
    display: flex;
    justify-content: left;
    padding: 10px;
    color: #9b9b9b;
    width: fit-content;
}

.back:hover {
    color: #625c85;
}

.back:active {
    color: #646464;
}

@font-face {
    font-family: 'Comforta';
    src: url('fonts/Comfortaa-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gajkley';
    src: url('fonts/Gajkley.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Varino';
    src: url('fonts/Varino.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}